body{
    font-family: "Minecraft-Regular";
}

@font-face {
    font-family: "Minecraft-Regular";
    src: url("../font/MinecraftRegular.otf");
}

@font-face {
    font-family: "Minecraft-Bold";
    src: url("../font/MinecraftBold.otf");
}

@font-face {
    font-family: "Minecraft-Bold-Italic";
    src: url("../font/MinecraftBoldItalic.otf");
}

@font-face {
    font-family: "Minecraft-Italic";
    src: url("../font/MinecraftItalic.otf");
}

@font-face {
    font-family: "Minecraft-Large";
    src: url("../font/Minecraft_Large.ttf");
}

